* {
  font-family: arial;
}

div {
  border-style: dotted;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;

  padding: 4px;
}

#content {
  background-color: blue;
}

#headerBox {
  background-image: linear-gradient(to right, yellow, green, blue, indigo, violet);
}

#LinkBox {
  background-color: yellow;

}

#parasBox {
 background-image: linear-gradient(to bottom right, red, yellow);
}

.para {
  background-color: green;
  text-shadow: 1px 1px;
}
/* mouse over link */
a:hover {
  color: hotpink;
